header {
    background-color: #f9f9f9;}
.nav-link {
    color: #2d3950;
    text-transform: uppercase;
    font-weight: 500;}
.banner{
    background-image: url(../images/Banar-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    position: relative;
    }
.banner-content{
    text-align: center;
    width: 35%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
.banner-content h2{
    color: #ffffff;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;}
.banner-content p{
    color: #ffffff;}
.banner-content span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: aqua;}
.banner-content button{
    background: transparent;
    border: none;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    padding: 7px 20px;
    border-radius: 4px;}
.simple{
    background-color: #f9f9f9;
    text-align: center;
}
.icon{
    width: 47px;
    height: 46px;
    background-color: red;
    text-align: center;
    line-height: 50px;
    margin: auto;
}
.feature h3{
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0px;}
.feature p{
    text-align: center;
}
.showcase{
    background-color: #f9f9f9;
}
.showcase h2{
text-align: center;
}
.showcase p{
    text-align: center;
}
.image{
    position: relative;
}
.image::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #15a4fa;
    opacity: .7;
    transition: .4s all ease-in-out;
}
.image:hover::before{
    width: 100%;
}
.icons{
    position: absolute;
    left: 50%;
    right: 50%;
    color: rgb(239, 10, 6);
    transform: translate(-50%, -50%);
}

.contact{
    background-image: url(../images/form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    position: relative;
    z-index: 0;
}
.contact form input{
    background-color: transparent;
}
.contact form textarea{
    background-color: transparent;
}
.contact form input::placeholder{
    color: #FFFFFF;
}
.contact form textarea::placeholder{
    color: #FFFFFF;
}
.contact h2{
    text-align: center;
    color: #ffffff;
}
.contact p{
    text-align: center;
    color: #ffffff;
}
.contact::before{
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100%; 
    height: 100%;   
    background-color: rgba(12, 102, 186, 0.79);
    opacity: .4;
    z-index: -1;
}
.Subscribe{
    display: flex;
    justify-content: space-between;
}
.check{
    display: flex;
    align-items: center;
    color: #ffffff;

}
.check p{
    color: #ffffff;
    margin: 0%;
    margin-left: 6px;
}
.btn-btn-send{
    color: #ffffff;
    background-color: transparent;
    border: solid .25px #15a4fa;
    padding: 7px 34px;
    border-radius: 7px;
    font-size: 17px;
}
footer{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    }
.copyright{
    width: 30%;
    margin: auto;
    padding: 3px;
    font-size: 7px;
    color: #999999;
    }
.copyright h4{  
    font-size: 12px;  
    text-align: center;
    padding: 20px;
}
.socialIcon{
    width: 40%;
    margin: auto;
    }
.socialIcon ul{  
    list-style: none;  
    display: flex;  
    margin: 0;  
    padding: 0;
    justify-content: end;
    }
.socialIcon ul li a{
    margin-right: 5px; 
    background-color: #15a4fa;  
    color: #ffffff;  
    padding: 8px 8px;  
    font-size: 9px;
    }